.login-page {
    overflow: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #3dcfff;
    height: 100%;
    width: 100%;
}

.login-body {
    background: white;
    width: 40%;
    height: 40%;
}

.register-page {
    overflow: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #026e75;
    height: 100%;
    width: 100%;
}

.register-body {
    background: white;
    width: 40%;
    height: 40%;
}