
.register-page {
    overflow: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #026e75;
    height: 100%;
    width: 100%;
}

.register-body {
    background: white;
    border: 2px solid black;
    width: 40%;
    height: 40%;
}